/* Small Screen */
.container {
  padding: 7rem 1rem;
}

.provinsi {
  text-align: center;
}

.provinsi__title {
  margin-top: 1rem;
  color: #00BFA6;
  font-size: 2.5rem;
}

.provinsi__tagline {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #118AB2;
}

.table__wrapper {
    overflow-x: auto;
  }
  
.table__wrapper table {
  border-collapse: collapse;
  /* width: 100%; */
  max-width: 100%;
  margin: 2.5rem auto;
}

.table__wrapper th,
.table__wrapper td {
  padding: 0.8rem 1rem;
}

table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
}

/* Medium Screen */
@media (min-width: 768px) {
  .provinsi {
    padding: +0.5rem;
  }

  .table__wrapper th,
  .table__wrapper td {
    padding: 1rem;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    padding: 2rem 0;
  }

  .table__wrapper th,
  .table__wrapper td {
    padding: 1.5rem 2.5rem;
  }
}