.container {
  margin: 1rem;
  padding: 2rem 6rem;
  background-color: #fff;
  border-radius: 10px;
}

.card {
  width: 100%;
}

/* Large screen */
@media (min-width: 992px) {
  .card__title {
    font-size: 1.9rem;
  }
  .card__count {
    font-size: 2.4rem;
  }
}